/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

/*@import "../../deps/phoenix_live_view/assets/css/live_view.css";*/

nav {
  width: 100%;
}

nav li {
  float: right;
}

header nav li {
  margin: 0 35px 12px 0;
}

.container {
  max-width: 120.0rem;
}

.container .search {
  text-align: center;
}

.container h1 {
  color: #38ad48;
}

input[type='search'] {
  border: 0.1rem solid #424242;
  width: 560px;
  color: #424242;
  font-size: 15pt;
  margin-bottom: 0;
  border-radius: 0;
}

form .search_for {
  display: block;
  margin: 15px auto;
}

.view_next {
  color: #e09318;
  font-weight: bold;
  margin: 15px 0;
  cursor: pointer;
}

.results {
  color: #424242;
}

.zam {
  color: #e09318;
}

nav .title {
  margin: 1rem;
  float: left;
}
nav .title a {
  color: #38ad48;
  font-weight: bold;
  text-decoration: underline;
}

.result {
  position: relative;
}
.results .title a {
  color: #424242;
  text-decoration: none;
  font-weight: bold;
}
.results .title a:hover {
  text-decoration: underline;
}
.results .result {
  margin-bottom: 20px;
  min-height: 67px;
}
.results .img {
  position: absolute;
  top: 0;
  left: -100px;
}
.results img {
  width: 80px;
  height: 80px;
  border: 2px solid #000;
  border-radius: 3px;
}

.title_def {
  color: #38ad48;
  font-weight: bold;
}
.description_def {
  font-weight: bold;
}
.example_def {
  font-style: italic;
}

.search_types{
  display: flex;
  justify-content: center;
}
.search_types a {
  display: block;
  margin: 0 30px;
}

form .suggestion {
  display: block;
  width: 560px;
  margin: -1px auto 0 auto;
  border: 1px solid #424242;
  border-radius: 0;
  background-color: #EFEFEF;
  cursor: pointer;
  color: #000;
  line-height: 38px;
  font-size: 14pt;
  text-align: left;
  padding: 0 10px;
}

@media screen and (max-width: 500px) {
  input[type='search'] {
    width: 96%;
  }
  form .suggestion {
    width: 96%;
  }

  header nav li {
    margin: 0 5px 2px 5px;
  }

  .container {
    margin: 0;
    padding: 0;
  }

  .results .img {
    display: none;
  }
}